<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hospitalnew?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <property name="hibernate.connection.password">3333</property>
    <mapping class="HospitalWeb.domain.Users"/>
    <mapping class="HospitalWeb.domain.DutyDays"/>
    <mapping class="HospitalWeb.domain.PreEntry"/>
    <mapping class="HospitalWeb.domain.Reception"/>
    <mapping class="HospitalWeb.domain.Spcialialization"/>
    <mapping class="HospitalWeb.domain.Card"/>
  </session-factory>
</hibernate-configuration>
